<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <form role="form" action="insert_address" method="get">
        <div class="form-group col-md-6">
            <label for="address">*地址信息</label>
            <input type="text" class="form-control" id="address" placeholder="请输入地址信息" name="address">
        </div>
        <div class="form-group col-md-6">
            <label for="address_detail">*详细地址</label>
            <input type="text" class="form-control" id="address_detail" placeholder="请输入详细地址" name="address_detail">
        </div><div class="form-group col-md-4">
        <label for="postcode">邮政编码</label>
        <input type="text" class="form-control" id="postcode" placeholder="请输入邮政编码" name="postcode">
    </div>
        <div class="form-group col-md-6">
            <label for="addresssee">*收货人姓名</label>
            <input type="text" class="form-control" id="addresssee" placeholder="请输入收货人姓名" name="addresssee">
        </div><div class="form-group col-md-6">
        <label for="telephone">*手机号码</label>
        <input type="text" class="form-control" id="telephone" placeholder="请输入手机号码" name="telephone">
    </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="default_status">设置为默认收货地址
            </label>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>
<div class="container">
    <div>已经保存了<a th:text="${address_list.size()}"></a>
        条数据，还能保存<a th:text="${10 - address_list.size()}"></a>条数据
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>收货人</th>
            <th>所在地区</th>
            <th>详细地址</th>
            <th>邮编</th>
            <th>电话/手机</th>
            <th>操作</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="item, itemStat: ${address_list}">
            <tr>
                <td th:text="${item.addresssee}"></td>
                <td th:text="${item.address}"></td>
                <td th:text="${item.address_detail}"></td>
                <td th:text="${item.postcode}"></td>
                <td th:text="${item.telephone}"></td>
                <td><a th:href="@{edit_address(address_id=${item.address_id})}">修改
                </a>|<a th:href="@{delete_address(address_id=${item.address_id})}">删除</a>
                </td>
                <td><a th:href="@{set_default_status(address_id=${item.address_id}, b_s_id=${item.b_s_id})}">
                    设为默认</a></td>
            </tr>
        </div>
        </tbody>
    </table>
</div>

</body>
</html>